

.advertiseMainContainer{
    display: flex;
    background-color: #232F3E;
    height: auto;
    margin: 0px 20px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
}
.amazonDivAdvertise{
    margin: 0px 50px;
    cursor: pointer;
    
}
.amazonLogoAdvertise{
    width: 120px;
    height: 100px;
    
}
.languageConatiner{
    display: flex;
    color: rgb(175, 175, 175);
    margin: px 10px ;
    border: 1px solid rgb(175, 175, 175) ;
    align-items: center;
    cursor: pointer;
    padding: 2px 0;
}
.web{
    margin: 0 10px;
}

.dropDown{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    align-items: center;
}

.locationAdvertise{
    display: flex;
    color: rgb(175, 175, 175);
    margin: 0px 10px ;
    border: 1px solid rgb(175, 175, 175) ;
    align-items: center;
    cursor: pointer;
    padding: 0 5px;
}
.useIconAdvertise{
    width: 28px;
    height: 28px;
    position: static;
    margin-right: 5px;
}
.locationAdvertise p{
    font-size: 15px;
}
