

.footerClass{
    display: flex;
    background-color: #232F3E;
    height: auto;
    padding: 30px 20px;
    margin: 0px 20px;
    justify-content: center;
}

.firstSection{
    margin: 10px 10px;
    padding: 0 10px;
}
.footerTitle {
    display: inline;
    float: inline-end;
}
.footerTitle h4{
   margin-right: 20px;
   color: rgb(219, 219, 219);
   
}


.firstSection ul{
    list-style: none;
}
.firstSection a{
    text-decoration: none;
    color: rgb(175, 175, 175) !important;
}
.listHeader{
    font-size: 18px;
    font-weight: bold;
    color: rgb(219, 219, 219) ;
}