/* .giftandOfffers{
    display: inline-block;
} */
.giftOffersMainContainer{
    width: 100%;
    flex-basis: 100%;
    position: relative;
}
/* .carousel{
    height: 130vh;
} */
.carousel img{
    height: auto;
    object-fit: cover;
}

.giftOffersSubContainer{
    position: absolute;
    display: flex;
    flex-wrap:wrap;
    /* bottom: 0; */
    top:38%;
    width: 100%;
    /* margin: 10px; */
    justify-content:space-evenly;
    /* padding: 5px; */ 
}

.giftOffersSubContainer .firstContainer h4{
    color: black;
    font-size: 20px;
    text-align: justify;
    padding: 2px 10px;

}
.firstContainer{
    max-width: 23%;
    width: auto;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 5px;
}
.firstContainerOffers{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
}
.firstContainerOffersItems{
    max-width: 50%;
    width: 50%;
    text-align: center;
}
.firstContainerOffersImages{
    max-width: 75%;
    width:auto;
    height:auto
}
.footerLink{
    padding: 5px;
    margin-left: 5px;
}
.footerLink a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(25, 197, 250);
}
/*Second container*/
.secondContainer{
    max-width: 23%;
    width: auto;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 5px;
}
.giftOffersSubContainer .secondContainer h4{
    color: black;
    font-size: 20px;
    text-align: justify;
    padding: 2px 10px;

}
.secondContainerOffersItems{
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.secondContainerOffersImages{
    width:100%;
    height:auto
}
/*3rd container*/
.thirdContainer{
    max-width: 23%;
    width: auto;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 5px;
}
.thirdContainerOffers{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
}
.thirdContainerText{
    padding: 10px 10px;
}
.thirdContainerText h4{
    color: black;
    font-size: 20px;
    text-align: justify;
}
.thirdContainerOffersItems{
    max-width: 50%;
    width: 50%;
    text-align: center;
}
.thirdContainerOffersImages{
    max-width: 95%;
    width: auto;
    height: 100%;
}

/*fourth*/
.fourthMainContainer{
    max-width: 23%;
    width: auto;
    display: block;
    height: auto;
}
.fourthContainer{
    background-color: rgb(255, 255, 255);
    /* margin: 0 10px; */
    border-radius: 10px;
    height: auto;
}
.fourthContainerOffers{
    margin: 0 5px;
    align-items: center;
}
.fourthContainerOffers h4{
    color: black;
    font-size: 20px;
    text-align: justify;
}

.fourthContainerOffers a{
    text-decoration: none;
}
.showNowImageContainer{
    cursor: pointer;
    border-radius: 10px;
    width: auto;
    padding: 4px 10px;
}
.shopNowImage{
    width: auto;
    height: auto;
    padding: 4px 10px;
}

/*5th container*/

.fifthContainer{
    max-width: 23%;
    width: auto;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 5px;
}
.fifthContainerOffers{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
}
.fifthContainerOffersItems1{
    max-width: 100%;
    width: 100%;
    text-align: center;
}
.fifthContainerOffersItems{
    max-width: 50%;
    width: 33.333333333%;
    text-align: center;
}
.thirdContainerOffersImages{
    max-width: 95%;
    width: auto;
    height: 100%;
}
.seprator{
    margin-bottom: 10px;
}