

.HealthlMainConatainer{
    margin-top: 15px;
}

.HealthContainer{
    background-color: white;
    margin: 0 15px;
    margin: 0 20px;
    border-radius: 10px;
}
.HealthcarousalContainer{
    text-align: center;
    cursor: pointer;
}

.HealthsOfferImage{
    width: auto;
    height: auto;
}
.HealthcarousalContainer h3{
font-size: 18px!important;
}