.NavbarSection{
    display: flex;
    background-color: #232f3e;
    position: relative;
    height: auto;
}
.sideBarContainer{
    position: absolute;
    bottom: 0;
}
.navigationContainer{
    padding: .5rem;
}

.navigationContainer ul{
    display: flex;
    align-items: center;
    padding: 3px;
    margin-left: 5px;
    
}
.navigationContainer ul li{
    list-style: none;
    font-size: 15px;
    font-weight: 500;
    color: rgb(247, 238, 238);
    margin: 0 6px;
    cursor: pointer;
    transition: none;
}
/* .navigationContainer ul li:hover{
    border: 2px solid white;
    float: none;
} */
.allMenu{
    display: flex;
    align-items: center; 
}
.allMenu li.allBold{
    font-weight: 1000
}
.barIcon{
    color: white;
    cursor: pointer;
}
.primeIcon{
    display: flex;
    cursor: pointer;
}

/*next navighation*/
.navRightIconMain{
    display: flex;
    align-items: center;
    margin-left: auto;
    /* margin-top: 12px;
    max-height: 50px;
    height: 100%; */
    cursor: pointer;
}
/* .navRightIconMain:hover{
    border: 2px solid white;
} */
.navRightIcons{
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.navRightIcons p {
    color: rgb(247, 238, 238);
    font-size: 14px;
}
.shipIcons{
    color: white;
    margin: 0 5px;
}