.sidebarMainContainer{
    position: absolute;
    overflow: hidden;
    z-index: 3;
}
.headerSideBar{
    display: flex;
    background-color: #232f3e;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
   
}
.headerSideBar span{
    color: white;
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: justify;
}
.userLogo{
    justify-content: center;
    margin: 5px 15px;
    align-items: center;
}
.closeIcon{
    margin-left: 3rem;
    cursor: pointer;
}

.sideBarNavigation{
    background-color: white;
    width: calc(100% + 25%);
    height: auto;
    display: flex;
    justify-content: center;
    top: 0;
    left: -100%;
    transition: 850ms;
}
.sideBarNavigationActive{
    transition: 350s;
    display: none;
}
.sideBarNavigationList {
    display: flex;
    flex-direction: column;
    padding: 0 0px;
    width: 100%;
}
.sidebar-text{
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    padding: 10px 30px 10px 10px;
    margin-left: 15px;
}
.sidebar-text a{
    text-decoration: none;
    font-size: 17px;
    display: flex;
    align-items: center;
}
.sidebar-text span{
    color: gray;
    margin-left: 8px;
    align-items: center;
}
.sidebar-text-header{
    font-size: 18px;
    color: chartreuse;
    list-style: none;
}
.sidebar-text-header a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.sidebar-text-header span{
    color: rgb(10, 10, 10);
    margin-left: 20px;
    align-items:center;
    font-weight: bolder;
    padding: 2px;

    
}