

.signOptionMainConatiner{
 
    background-color: white;    
    padding: 20px 20px;
    margin: 0px 20px;
    margin-top: 10px;
    
}

.signOption{
    text-align: center;
    border: 2px solid black;
    padding: 10px;
}
.signOption p{
    font-size: 12px;
    
}
button{
    width: 15%;
    padding: 4px;
    background-color: rgb(243, 186, 29);
    border: none;
    cursor: pointer;
    margin: auto;
    border-radius: 5px;
}
.signinButton {
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 12px;
}
.signinButton a{
    text-decoration: none;
    color: #007185
}