

.signOptionMainConatiner{
 
    background-color: white;    
    padding: 20px 20px;
    margin: 0px 20px;
    margin-top: 10px;
    
}

.signOption{
    text-align: center;
    border: 2px solid black;
    padding: 10px;
}
.signOption p{
    font-size: 12px;
    
}

.btn{
    width: 15%;
    padding: 2px;
    border: none;
    cursor: pointer;
    margin: auto;
    color: black !important;
    font-weight: bold !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.signinButton {
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 12px;
}
.signinButton a{
    text-decoration: none;
    color: #007185
}