
.todaysDealMainConatainer{
    margin-top: 15px;
}
.todayDealsContainer{
    background-color: white;
    margin: 0 20px;
    border-radius: 10px;
}
.todayDealsContainer h1{
    color: black;
}
.carousalContainer{
    text-align: center;
    cursor: pointer;
    
}

.todaysOfferImage{
    width: auto;
    height: auto;
}
.eWjCzc{
    color: black !important;
    background-color: white!important;
    width: 40px  !important;
    height: 200px  !important;
    min-width: 40px  !important;
    line-height: 40px  !important;
    border-radius: unset !important;
}
.eAyARa{
    color: rgb(173, 172, 172) !important;
    background-color: white!important;
    width: 40px  !important;
    height: 200px  !important;
    min-width: 40px  !important;
    line-height: 40px  !important;
    border-radius: unset !important;
}
.krmNah,.jhmYzC{
    display: none;
}
.krmNah{
    display: none;
    
}