
*, *::after , *::before {
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body{
  margin: 0;
  /* background-image: linear-gradient(rgb(197, 206, 206),rgb(158, 155, 155)); */
  /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%), url(../); */
    background-image: linear-gradient(rgb(199, 238, 238),rgb(201, 195, 195));
}
